@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
  
.cifra {
    grid-area: cifra;
}

.cifra2 {
    grid-area: cifra2;
}

.cifra3 {
    grid-area: cifra3;
}

.cifra4 {
    grid-area: cifra4;
}

.sost {
    grid-area: sost;
}

.sost2 {
    grid-area: sost2;
}
  
.sost3 {
    grid-area: sost3;
}
  
.sost4 {
    grid-area: sost4;
}
  
.dest {
    grid-area: dest;
}
  
.dest2 {
    grid-area: dest2;
}
  
.dest3 {
    grid-area: dest3;
}
  
.dest4 {
    grid-area: dest4;
}

.trans {
    grid-area: trans;
}
  
.trans2 {
    grid-area: trans2;
}
  
.trans3 {
    grid-area: trans3;
}

.header {
    grid-area: header;
}

.clima {
    grid-area: clima;
}
  
.footer {
    grid-area: footer;
}

.wrapper {
    background-color: #fff;
    color: #44484c;
}

    .wrapper {  /*vista movil/tablets*/
        display: grid;
        grid-gap: 0px;
        grid-template-areas:
        
        "header"
        "cifra"
        "cifra2"
        "cifra3"
        "cifra4"
        "sost"
        "sost2"
        "sost3"
        "sost4"
        "dest"
        "dest2"
        "dest3"
        "dest4"
        "trans"
        "trans2"
        "trans3"
        "footer"
        "clima"
    }
    
    @media only screen and (min-width: 600px)   {   /*vista web/pantallas grandes*/
        .wrapper {
            grid-gap: 0px;
            grid-template-columns: auto auto auto;
            grid-template-areas:
            "clima  clima  clima"
            "header  header  header"
            "cifra  cifra  cifra"
            "cifra2 cifra3 cifra4"
            "sost sost sost"
            "sost2 sost3 sost4"
            "dest dest dest"
            "dest2 dest3 dest4"
            "trans trans trans"
            "trans2 trans3 trans3"
            "footer  footer  footer";
            max-width: auto;
        } 
    }
  
.box {
    background-color: #44484c;
    color: #fff;
    padding: 50px;
    font-size: 20px;
}

.header {
    box-shadow: inset 1px 1px 150px #000;
    font-size: 42px;
    font-weight: 300;
    background-image: url("https://images.unsplash.com/photo-1569422122435-22e0fab72517?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;
}

img {
    margin: -99px auto 0;
    padding: 0px;
    height: 90px;
}

.clima {
    display: flex;
    padding: 15px;
    font-size: 14px;
    font-weight: 300;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}

.cifra {
    background-color: white;
    color: #44484c;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
}

.cifra2,
.cifra3,
.cifra4 {
    background-color: white;
    color: #44484c;
    text-transform: uppercase;
    margin:40px;
    margin-top: 0px;
}

h1 {
    font-weight: 700;
    font-size: 52px;
    margin-top: 250px;
    margin-bottom: 0px;
}

h2 {
    font-weight: 400;
    font-size: 45px;
    color: #1abae9;
    margin-top: 0;
    margin-bottom: 0;
    padding:0px;
}

h3 {
    font-weight: 300;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.sost {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    background-image: url("https://images.unsplash.com/photo-1534292425621-6fbc5c09219a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;
}

.sost2,
.sost3,
.sost4 {
    background-color: transparent;
    text-transform: none;
    color: white;
    margin: auto;
    font-size: 16px;
}

div.pajaro {
    width: 200px; 
    height: 100px; 
    background-image:url('https://www.suractual.cl/wp-content/uploads/2016/06/ave-sietecolores.jpg');
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-bottom: 20px;
}

div.paseo {
    width: 200px; 
    height: 100px; 
    background-image:url('https://portalportuario.cl/wp-content/uploads/2020/05/Bellamar2-800x445.jpg');
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-bottom: 20px;
}

div.actividad {
    width: 200px; 
    height: 100px; 
    background-image:url('https://arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/VZ6ND5UL4ZB5JKJV5TLE7CMYMQ.jpg');
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-bottom: 20px;
}

.dest {
    background-color: #e4e6e8;
    color: #44484c;
    font-size: 24px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 300;
}

.dest2,
.dest3,
.dest4 {
    background-color: white;
    color: #44484c;
    text-transform: uppercase;
    margin: 40px;
}

.trans {
    background-color: white;
    color: #44484c;
    font-size: 24px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 300;
}

.trans2,
.trans3 {
    background-color: white;
    color: #44484c;
    text-transform: uppercase;
    margin: 40px;
}

.footer {
    background-color: #13181d;
    font-size: 16px;
    height: auto;
    color: white;
    list-style: none;
    text-decoration: none;
    line-height: 40px;
    padding: 90px;
}